<!DOCTYPE html>
<html lang="ru">
<head>
	<link rel="shortcut icon" href="https://i.ibb.co/Wp7193J/faon.jpg" type="image/jpg">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GAMES - home</title>
	<link rel="stylesheet" href="static/css/styles.css">
	<script src = "https://kit.fontawesome.com/336692b553.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<body>
	<!-- Начало шапки -->
	<header class="header">

		<nav class="top-menu">
			<div class="container">
				<ul class="top-menu-list">
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="http://gameschilds.herokuapp.com/login">Personal Area</a></li>
					<li><a href="">Feedback</a></li>
				</ul>
			</div>
		</nav>

		<div class="container header-container">
			<div class="logo"><a href="http://gameschilds.herokuapp.com/"><img src="https://i.ibb.co/Bjj4HjJ/image.jpg" alt="Логотип"></a></div>
			<!--<div class="contacts"><a href=""><img src="https://i.ibb.co/6XmKGFg/phone.jpg">+7 (920) 028-41-44</a></div>-->
			<div class="header-item"><a href="#"></a></div>
			<div class="header-item"><a href="#"></a></div>
		</div>

		<nav class="main-menu">
			<div class="container">
				<ul class="main-menu-list">
					<li><a href="http://gameschilds.herokuapp.com/Schulte">Schulte table</a></li>
					<li><a href="http://gameschilds.herokuapp.com/memory">Memory</a></li>
					<li><a href="http://gameschilds.herokuapp.com/tetris">Tetris</a></li>
					<li><a href="http://gameschilds.herokuapp.com/brain">Brain</a></li>
					<li><a href="http://gameschilds.herokuapp.com/ludo">Ludo</a></li>
					<li><a href="http://gameschilds.herokuapp.com/mines">Minesweeper</a></li>
					<li><a href="http://gameschilds.herokuapp.com/bejeweled">Bejeweled</a></li>
				    <li><a href="http://gameschilds.herokuapp.com/chess">Chess</a></li>
				</ul>
			</div>
		</nav>

	</header>
	<!-- Конец шапки -->

	<!-- Начало content -->
	<div class="content">
		<div class="container">

			<section class="section">
				<!--<div class="promo">
					<div class="promo-text"></div>
					<div class="btn btn-fill"><a href="http://gameschilds.herokuapp.com/Schulte"></a>Schulte table</div>
				</div>-->
				<div class="section-item main-schulte">
					<a href="http://gameschilds.herokuapp.com/chess">Chess<img src="https://i.ibb.co/MNwWMwk/Imag.png" alt="Chess"></a>
				</div>
				<!--<div class="main-it">
					<h2>Chess</h2>
					<div class="btn btn-fill"><a href="http://gameschilds.herokuapp.com/chess"> Play game</a></div>
				</div>
				<div class="image-rd">
					 <img src="https://i.ibb.co/WgY8jp8/Imag.png" alt="">
				</div>
			<aside class="sidebar">
				<div class="le-nk">
					<div class="le-nk-text">
						<h2>Chess</h2>
						<p></p>
					</div>
					<img src="https://i.ibb.co/qmXyk1w/Image.png" alt="">
				</div>
				<div class="nk-rd">
					<h2></h2>
					<div class="btn btn-fill"><a href="http://gameschilds.herokuapp.com/chess">Play game</a></div>
				</div>
			</aside>-->
				<div class="section-item main-schulte">
					<a href="http://gameschilds.herokuapp.com/Schulte">Schulte table<img src="https://i.ibb.co/qJc6ZbH/photo.jpg" alt="Schulte"></a>
			</div>
				<!--<div class="section-item main-schulte">
					<a href="http://gameschilds.herokuapp.com/bejeweled">Bejeweled<img src="https://i.ibb.co/tx8cWMw/Image.png" alt="Bejeweled"></a>
			</div>-->
			</section>
            <!--<section class="section">-->
			<!--<div class="section-item main-schulte">
					<a href="http://gameschilds.herokuapp.com/Schulte">Schulte table<img src="https://i.ibb.co/qJc6ZbH/photo.jpg" alt="Schulte"></a>
			</div>
				<aside class="sidebar">
				<div class="le-nk">
					<div class="le-nk-text">
						<h2>Bejeweled</h2>
						<p></p>
					</div>
					<img src="https://i.ibb.co/tx8cWMw/Image.png" alt="">
				</div>
				<div class="nk-rd">
					<h2></h2>
					<div class="btn btn-fill"><a href="http://gameschilds.herokuapp.com/bejeweled">Play game</a></div>
				</div>
			</aside>-->
			<!--<div class="section-item main-schulte">
					<a href="http://gameschilds.herokuapp.com/bejeweled">Bejeweled<img src="https://i.ibb.co/tx8cWMw/Image.png" alt="Bejeweled"></a>
			</div>
			</section>-->
			<!--<section class="section">
			<aside class="sidebar">
				<div class="le-nk">
					<div class="le-nk-text">
						<h2>Schulte table</h2>
						<p></p>
					</div>
					<img src="https://i.ibb.co/my2Nf2X/photo-2020-08-22-01-10-29.jpg" alt="">
				</div>
				<div class="nk-rd">
					<h2></h2>
					<div class="btn btn-fill"><a href="http://gameschilds.herokuapp.com/Schulte">Play game</a></div>
				</div>
			</aside>
			</section>-->
		</div>
	</div>
	<!-- Конец content -->

	<!-- Начало подвала -->
	<footer class="footer">
		<div class="container">
			<div class="footer-item copyright">
				<a href="http://gameschilds.herokuapp.com/">© 2020 Dmitry Pimenov <!--<img src="#" alt="Лого">--></a>
				<p></p>
			</div>
			<div class = "social">
				<a href = "https://www.facebook.com/dpmiimternyov"><i class = "fa fa-facebook"></i></a>
			    <a href = "https://twitter.com/pimenovdv"><i class = "fa fa-twitter"></i></a>
				<a href = "https://www.instagram.com/pimenovdmitry"><i class = "fa fa-instagram"></i></a>
				<a href = "https://github.com/DmitryPimenov"><i class = "fa fa-github"></i></a>
				<a href = "https://t.me/DmitryPimenov"><i class = "fa fa-telegram"></i></a>
                <a href = "https://vk.com/pimenovdv"><i class = "fa fa-vk"></i></a>
                <a href = "https://дмитрий-пименов-984a22a8"><i class = "fa fa-linkedin"></i></a>
				<a href = "https://career.habr.com/pimenov-dmitry"><i class = "fas fa-user-circle"></i></a>
                <a href = "https://www.pinterest.ru/dmitrynetmail/boards"><i class = "fa fa-pinterest"></i></a>
			</div>
			<!--<div class="footer-item footer-feedback">
				<a href="#"></a>
				<p></p>
			</div>
			<div class="footer-item info">
				<p></p>
				<p></p>
			</div>-->
		</div>
	</footer>
	<!-- Конец подвала -->
	</body>
</html>


