<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" href="https://i.ibb.co/Wp7193J/faon.jpg" type="image/jpg">
		<meta charset="UTF-8">
		<link rel='dns-prefetch' href='//s.w.org'/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable = 0">
		<title>Memory</title>
      <link rel="stylesheet" href="static/css/memory.css">
     <script defer src="static/js/memory.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
	</head>
	<body>
	<embed src="static/music/47. Fausto Papetti - I just called to say i love you.mp3" loop="true" autostart="true" height="0" width="0">
	<script>
var sound = new Howl({
	src: ['static/music/13. C.Dulfer - Lilly was here.mp3'],
	loop: true,
	volume: 3,


  });


  sound.once('load', function(){
	  document.getElementsByClassName("body")[0].style.display = "none";
	sound.play();
  });
    </script>
	<!--<embed src="static/music/13. C.Dulfer - Lilly was here.mp3" loop="true" autostart="true" height="0" width="0">-->
			
		<section id="game_section">
		<!--<h1><i class="fas fa-brain"></i>  </h1>
		<p class="game_info"><span>Game description :</span>  </p>-->
		
		<button id="start">Start</button>
		<select id ="level_select">
		<option value="1">12 cards - Easy</option>
			<option value="2">16 cards - Medium</option>
			<option value="3">20 cards - Hard</option>
			
		</select>
		<div id ="score_section">
		<p id ="high_score_p">High score <br/><span id="high_score"></span> hits in <span id="corr_time">00:00</span></p>
			<p>Hits : <span id="hits"></span></p>
			
			<p>Time : <span id="time">00:00</span></p>
			
			<div class="clear"></div>
		</div>
		
		<div id="game_box">
		<div id="game_info"></div>
			<div class="card" id="card_1"></div>
			<div class="card" id="card_2"></div>
			<div class="card" id="card_3"></div>
			<div class="card" id="card_4"></div>
			<div class="card" id="card_5"></div>
			<div class="card" id="card_6"></div>
			<div class="card" id="card_7"></div>
			<div class="card" id="card_8"></div>
			<div class="card" id="card_9"></div>
			<div class="card" id="card_10"></div>
			<div class="card" id="card_11"></div>
			<div class="card" id="card_12"></div>
			<div class="card" id="card_13"></div>
			<div class="card" id="card_14"></div>
			<div class="card" id="card_15"></div>
			<div class="card" id="card_16"></div>
			<div class="card" id="card_17"></div>
			<div class="card" id="card_18"></div>
			<div class="card" id="card_19"></div>
			<div class="card" id="card_20"></div>

			</div>
		</section>
		<footer> 
			<!--<p>Designed by
			<a href="https://">
			<span>Pimenov Dmitry</span>
			</a>
			<a href="https://">
			<img class="pin-img" src="https://kartinki-dlya-srisovki.ru/wp-content/uploads/2018/10/kartinki-dlya-srisovki-glaza-1.jpg" alt="Pimenov Dmitry">
			</a>
			  &copy;Copyrights Reserved 2020</p>-->
		</footer> 
	</body> 
</html>






