<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="https://i.ibb.co/Wp7193J/faon.jpg" type="image/jpg">
	<meta charset="utf-8" />
	<link rel='dns-prefetch' href='//s.w.org'/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sign up</title>
    <link rel="stylesheet" href="static/css/signup.css" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable = 0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/login-ui1.css"/>
	<link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header class="header">
		<div class="log-on-box">
			<div class="logo-wrapper">
			<h1>Sign up</h1>
			</div>
			<form method="post">
				<input name="name" id="name" type="text" placeholder="Username"/>
                <input name="lastname" id="lastname" type="text" placeholder="Lastname"/>
			    <input name="email" id="email" type="text" placeholder="Email"/>
				<input name="password" id="password" type="text" placeholder="Password"/>
                <input name="age" id="age" type="text" placeholder="Age"/>
                <input name="sex" id="sex" type="text" placeholder="Sex"/>
                <input name="country" id="country" type="text" placeholder="Country"/>
					<div class="alignment">
					<input type="submit" class="btn-sign-in" value="Sign up">
				</div>

				<div class="new-ac-text">
					<p>
						<span class="alignment">Don't Have An Account?</span>
						<span class="alignment">Sign Up Using</span>
					</p>
				</div>
				<div class="alignment">
					<!--<button type="button" class="btn-sign-up-g"><i class="fa fa-google"></i></button>-->
					<button type="button" class="btn-sign-up-f"><i class="fa fa-facebook"></i></button>
              </div>
             </form>
		</div>
	</header>
</body>
</html>