<!DOCTYPE html>
<html>
	<head>
		<title>Slide</title>
		<meta name="author" content="Dmitry Pimenov" />
        <link rel="shortcut icon" href="https://i.ibb.co/Wp7193J/faon.jpg" type="image/jpg">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel='dns-prefetch' href='//s.w.org'/>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable = 0">
      <link rel="stylesheet" href="static/css/slide anim.css"/>
	</head>
	<body>
		<section id="slide1" style="background: url(https://i.ibb.co/2YTtxG8/photo-2020-09-15-01-36-34.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:black" href="#slide2">Next</a>
		</section>
		<section id="slide2" style="background: url(https://i.ibb.co/gVL6CKC/photo-2020-09-15-01-36-26.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:black" href="#slide1">Back</a>
			<a class="controls" style="color:black" href="#slide3">Next</a>
		</section>
		<section id="slide3" style="background: url(https://i.ibb.co/GWQxpRt/photo-2020-09-09-21-16-16.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:white" href="#slide2">Back</a>
			<a class="controls" style="color:white" href="#slide4">Next</a>
		</section>
		<section id="slide4" style="background: url(https://i.ibb.co/8n31p3D/photo-2020-09-09-21-16-10.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:white" href="#slide3">Back</a>
			<a class="controls" style="color:white" href="#slide5">Next</a>
		</section>
		<section id="slide5" style="background: url(https://i.ibb.co/BrXPJqN/photo-2020-09-15-01-36-18.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:black" href="#slide4">Back</a>
			<a class="controls" style="color:black" href="#slide6">Next</a>
		</section>

		<section id="slide6" style="background: url(https://i.ibb.co/wYgDK1N/photo-2020-09-10-20-29-30.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:white" href="#slide5">Back</a>
			<a class="controls" style="color:white" href="#slide7">Next</a>
		</section>

		<section id="slide7" style="background: url(https://i.ibb.co/kxrZ2gv/photo-2020-09-10-20-29-25.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:black" href="#slide6">Back</a>
			<a class="controls" style="color:black" href="#slide8">Next</a>
		</section>

		<section id="slide8" style="background: url(https://i.ibb.co/CVQMXy6/photo-2020-09-15-01-36-09.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:black" href="#slide7">Back</a>
			<a class="controls" style="color:black" href="#slide9">Next</a>
		</section>

		<section id="slide9" style="background: url(https://i.ibb.co/6DvckWT/photo-2020-09-10-20-29-19.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:black" href="#slide8">Back</a>
			<a class="controls" style="color:black" href="#slide10">Next</a>
		</section>

		<section id="slide10" style="background: url(https://i.ibb.co/z87C7CJ/photo-2020-09-10-20-29-41.jpg) no-repeat left center; background-size: cover;">
			<div class="wrapper">
				<p></p>
			</div>
			<a class="controls" style="color:white" href="#slide9">Back</a>
			<a class="controls" style="color:white" href="#start">Home</a>
		</section>
		<section id="start">
			<a href="#slide1">Start</a>
		</section>
	</body>
</html>